
body{
    padding-left:10%;
    padding-right:10%;
    padding-top: 5%;
    color:slategrey;
    background-color:honeydew;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

a:link {
    color: slategrey;
  }
  
  a:hover {
    color: rgb(132, 149, 226);
    background-color: rgba(138, 255, 226, 0.842);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

h2{
    font-weight:400;

}

#btn {
    width: 10%; 
    height: 10%;
    font-size: 200%;
    text-align: justified;
}
#btn:hover {
    color: rgb(73, 146, 58);
    width:12%;
    height: 12%;

}


img {
    width:30%;
    cursor: zoom-in;
}


#comment{width: 50%;height:50%;}

#name{width:50%;height:50%;}

br {
    display: block;
    content: "";
    margin:4%;
 }

#smallest {


}
html5