
body{
    padding-left:10%;
    padding-right:10%;
    padding-top: 5%;
    color:slategrey;
    background-color:honeydew;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    max-width: 100%;
}

a {
    color:slategrey;
    background-color:rgba(212,212,212,0.7);
    text-decoration:none;
  }
  
  a:hover {
    color:slategrey;
    background-color: rgba(138, 255, 226, 0.700);
  }
  
  /* selected link */
  a:active {
    color:slategrey;
  }


h2{
    font-weight:400;

}

#i:hover{
    background-color:snow;
}

#like:hover{
    background-color:rgb(236, 175, 175);
}

#maybe:hover{
    background-color:snow;
}


#btn {
    width: 10%; 
    height: 10%;
    font-size: 200%;
    text-align: justified;
}
#btn:hover {
    color: rgb(73, 146, 58);
    width:12%;
    height: 12%;

}


img { width:30%;}
img:hover{cursor: zoom-in;}


#comment{width: 50%;height:50%;}

#name{width:50%;height:50%;}

br {
    display: block;
    content: "";
    margin:4%;
 }

#smallest {


}
html5