body {
    background-color: rgb(214, 214, 214);
    trasition: 0.3s;
}

div {
    trasition: 0.3s;

}

.calendar {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}


body {
    font-size: 1vw;
    letter-spacing: -0.03em;
    transition: 0.3s;
}

.containerweek {
    width: 35vw;
    height: 24vw;
    display: flex;
    flex-wrap: wrap;

}

.week {
    width: calc(35vw/7);
    height: 24vw;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.hours {
    background-color: rgb(212, 212, 212);
    display: flex;
    width: calc(35vw/7);
    height: calc(24vw/24);
    margin: auto;
    align-items: left;
}

.minitues {
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-wrap: wrap;
}

.min {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: calc(10vw/6);
    height: calc(10vw/10);
    margin: auto;
    align-items: left;
    gap: 2px;
}

.second {
    width: 5vw;
    height: 10vw;
    display: flex;
    flex-wrap: wrap;
}

.sec {
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 2px;
    width: calc(5vw/5);
    height: calc(10vw/12);
    margin: auto;
    align-items: left;

}

.half {
    width: 5vw;
    height: 10vw;
    display: inline-block;
}

.day {
    width: 5vw;
    height: calc(10vw/2);
    display: flex;
    background-color: rgb(255, 255, 255);
    gap: 2px;
    text-align: center;
    display: flex;
    align-items: center;


}

.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.month {
    width: 30vw;
    height: 24vw;
    display: flex;
    flex-wrap: wrap;

}

.monthcontainer {
    width: 30vw;
    height: calc(24vw/12);
    display: flex;

}

.monthname {
    width: calc(30vw/4);
    height: calc(24vw/12);
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    display: flex;
    align-items: center;
}

.monthnumber {
    width: 30vw;
    height: calc(24vw/6);
    display: flex;

}

#seasons {

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    /* Center-align text */
    display: flex;
    /* Enable flexbox */

}

.fourss {
    width: calc(30vw/4);
    height: 4vw;
    border: black;
    text-align: center;
    /* Center-align text */
    display: flex;
    /* Enable flexbox */
    /* Horizontally center-align content */
    align-items: center;
}

.monthday {
    width: calc(30vw/4);
    height: 4vw;
    gap: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


}

.everymonth {
    width: calc(30vw/4);
    height: 4vw;

    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.404);
}

.dayinmonth {
    width: calc(30vw/4/8);
    height: calc(4vw/6);
    margin: auto;
    text-align: left;
}

.blank {
    width: auto;
    height: 4vw;


}

.weekname {
    width: calc(35vw/7);
    height: 3vw;
    align-items: left;
    background-color: white;
    gap: 2px;
    text-align: center;
    display: flex;
    align-items: center;
}

.weekcontainer {
    width: calc(35vw);
    height: 5vw;
    display: flex;
    flex-direction: row;
    border: solid rgb(255, 78, 78) 1px;
}

#dateHere {
    display: inline-block
}

#timeHere {
    display: inline-block
}


.now {
    width: 10vw;
    height: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: rgb(226, 226, 226);
}

.allthesound {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#sound1 {
    width: 4vw;
    height: 4vw;
}

#sound2 {
    width: 4vw;
    height: 4vw;
}

#sound3 {
    width: 4vw;
    height: 4vw;
}

.empty {
    display: flex;
    font-size: 2vw;
}