body {
    background-color: rgb(214, 214, 214);
    trasition: 0.3s;
    font-family: sans-serif;
}

div {
    trasition: 0.3s;

}

.calendar {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}


body {
    font-size: 1vw;
    letter-spacing: -0.03em;
    transition: 0.3s;
}

.containerweek {
    width: 45vw;
    height: 71.5vh;
    display: flex;
    flex-wrap: wrap;

}

.week {
    width: calc(45vw/7);
    height: 32vw;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.hours {
    background-color: rgb(212, 212, 212);
    display: flex;
    width: calc(35vw/7);
    height: calc(24vw/24);
    margin: auto;
    align-items: left;
}

.minitues {
    width: 10vw;
    height: 18vw;
    display: flex;
    flex-wrap: wrap;
}

.min {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: calc(10vw/6);
    height: calc(18vw/10);
    margin: auto;
    align-items: left;
    gap: 2px;
}

.second {

    width: 6vw;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
}

.sec {
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 2px;
    width: calc(6vw/5);
    height: calc(12vw/12);
    margin: auto;
    align-items: left;

}

.half {
    width: 4vw;
    height: 12vw;
    display: inline-block;
}

.day {
    width: 4vw;
    height: calc(12vw/2);
    display: flex;
    background-color: rgb(255, 255, 255);
    gap: 2px;
    text-align: center;
    display: flex;
    align-items: center;


}

.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.month {
    width: 41vw;
    height: 32vw;
    display: flex;
    flex-wrap: wrap;

}

.monthcontainer {
    width: 41vw;
    height: calc(24vw/12);
    display: flex;

}

.monthname {
    width: calc(41vw/4);
    height: calc(24vw/12);
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    display: flex;
    align-items: center;
}

.monthnumber {
    height: calc(24vw/3);
    display: flex;
}

#seasons {

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    /* Center-align text */
    display: flex;
    /* Enable flexbox */

}

.fourss {
    width: calc(40vw/4);
    height: 4vw;
    border: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthday {
    width: calc(40vw/4);
    height: 8vw;
    gap: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-right: 2px solid rgb(214, 214, 214);

}

.everymonth {
    width: calc(40vw/4);
    height: 4vw;

    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.404);
}

.dayinmonth {
    width: calc(40vw/4/8);
    height: calc(8vw/6);
    text-align: center;
}

.blank {
    width: auto;
    height: 4vw;


}

.weekname {
    width: calc(45vw/7);
    height: 3vw;
    align-items: left;
    background-color: white;
    gap: 2px;
    text-align: center;
    display: flex;
    align-items: center;
}

.weekcontainer {
    width: calc(45vw);
    height: 5vw;
    display: flex;
    flex-direction: row;
    border: solid rgb(255, 78, 78) 1px;
}


#dateHere {
    display: inline-block;
}

#timeHere {
    display: inline-block;
}


.now {
    width: 10vw;
    height: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: rgb(230, 230, 230);

}

.allthesound {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 35vw;
}

#sound1 {
    width: 4vw;
    height: 4vw;
}

#sound2 {
    width: 4vw;
    height: 4vw;
}

#sound3 {
    width: 4vw;
    height: 4vw;
}

.empty {
    display: inline-block;
    font-size: 1vw;
}

#top {
    width: 95vw;
    display: flex;

}

#weather {
    color: white;
}