body {
    background-color: rgb(214, 214, 214);
}

.calendar {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}


body {
    font-size: 1vw;
    letter-spacing: -0.03em;
    transition: 0.3s;
}

.containerweek {
    width: 35vw;
    height: 24vw;
    display: flex;
    flex-wrap: wrap;

}

.week {
    width: calc(35vw/7);
    height: 24vw;
    display: flex;
    flex-direction: column;
    align-items: centered;
}

.hours {
    background-color: rgb(212, 212, 212);
    display: flex;
    width: calc(35vw/7);
    height: calc(24vw/24);
    margin: auto;
    align-items: left;
}

.minitues {
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-wrap: wrap;
}

.min {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: calc(10vw/6);
    height: calc(10vw/10);
    margin: auto;
    align-items: left;
    gap: 2px;
}

.second {
    width: 5vw;
    height: 10vw;
    display: flex;
    flex-wrap: wrap;
}

.sec {
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 2px;
    width: calc(4vw/6);
    height: calc(10vw/10);
    margin: auto;
    align-items: left;

}

.half {
    width: 5vw;
    height: 10vw;
    display: inline-block;
}

.day {
    width: 5vw;
    height: calc(10vw/2);
    display: flex;
    background-color: rgb(255, 255, 255);
    gap: 2px;


}

.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.month {
    width: 30vw;
    height: 24vw;
    display: flex;
    flex-wrap: wrap;

}

.monthcontainer {
    width: 30vw;
    height: calc(24vw/12);
    display: flex;

}

.monthname {
    width: calc(30vw/4);
    height: calc(24vw/12);
    background-color: rgba(255, 255, 255, 0.486);
    display: flex;
}

.monthnumber {
    width: 30vw;
    height: calc(24vw/4);
    display: flex;

}

#seasons {

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-items: centered;
}

.fourss {
    width: calc(30vw/4);
    height: 2vw;
    border: black;
}

.monthday {
    width: calc(30vw/4);
    height: 4vw;
    gap: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


}

.everymonth {
    width: calc(30vw/4);
    height: 4vw;

    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.404);
}

.dayinmonth {
    background-color: rgba(255, 255, 255, 0.173);
    width: calc(30vw/4/8);
    height: calc(4vw/6);
    margin: auto;
    text-align: center;
}

.blank {
    width: auto;
    height: 4vw;


}

.weekname {
    width: calc(35vw/7);
    height: 5vw;
    align-items: center;
    background-color: white;
    gap: 2px;
}

.weekcontainer {
    width: calc(35vw);
    height: 5vw;
    display: flex;
    flex-direction: row;
    border: solid rgb(255, 78, 78) 1px;
}

#dateHere {
    display: inline-block
}

#timeHere {
    display: inline-block
}

#sound {
    position: fixed;
    top: 0;
    right: 0;
    background: red;
}