body {
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
    background-color: rgba(68, 107, 112, 0.397);
    color: #f8f8f8;
    font-size: 30px;
}

#clock {
    display:block;
    background-color:rgb(121, 121, 121);
    font-size:30px;
    width: 20%;
    height: 40%;
    text-align:center;

}

.audiocon { display:block;
    background-color:rgb(121, 121, 121);
    font-size:10px;
    width: auto;
    height: 10%;
    text-align: left;
    padding:1%;}


#audioplay {
    display:block;
    background-color:rgb(121, 121, 121);
    width: 20%;
    height: 40%;
    text-align:center;}

button {
    padding: 1%;
    width: 10%;
    height: 2%;
    font-size: 20px;
    border: none;
    margin: 1%;
    border-radius: 50%;
    background-color: #c5c9cc;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #b5d9ff;
}

button:active {
    transition: background-color 2s ease;
    background-color: #b5d5ff;
}

.btncon{
    text-align:end;
    text-align:left;
    width:auto;
    height:auto;
}
img {
    width: 50%;
    height: auto; 
}

@media screen and (max-width: 3000px) and (min-width: 2500px) {
    #aircon,
    #air,
    #alarm,
    #alarm2,
    #heat,
    #humi,
    #microwave,
    #sound,
    #fridge {
        display: none;
    }
    #aircon2 {
        display: block;
    }
}

@media screen and (max-width: 2500px) and (min-width: 2000px) {
    #aircon2,
    #air,
    #alarm,
    #alarm2,
    #heat,
    #humi,
    #microwave,
    #sound,
    #fridge {
        display: none;
    }
    #air {
        display: block;
    }
}

@media screen  and (max-width: 2000px) and (min-width: 1700px) {
    #aircon2,
    #aircon,
    #alarm,
    #alarm2,
    #heat,
    #humi,
    #microwave,
    #sound,
    #fridge {
        display: none;
    }
    #alarm {
        display: block;
    }
}

@media screen and (max-width: 1700px) and (min-width: 1400px) {
    #aircon2,
    #aircon,
    #air,
    #alarm2,
    #heat,
    #humi,
    #microwave,
    #sound,
    #fridge {
        display: none;
    }
    #alarm2 {
        display: block;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1100px) {
    #aircon2,
    #aircon,
    #air,
    #alarm,
    #heat,
    #humi,
    #microwave,
    #sound,
    #fridge {
        display: none;
    }
    #heat {
        display: block;
    }
}

@media screen and (max-width: 1100px) and (min-width: 900px) {
    #aircon2,
    #aircon,
    #air,
    #alarm,
    #alarm2,
    #humi,
    #microwave,
    #sound,
    #fridge {
        display: none;
    }
    #humi {
        display: block;
    }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
    #aircon2,
    #aircon,
    #air,
    #alarm,
    #alarm2,
    #heat,
    #humi,
    #sound,
    #fridge {
        display: none;
    }
    #microwave {
        display: block;
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    #aircon2,
    #aircon,
    #air,
    #alarm,
    #alarm2,
    #heat,
    #humi,
    #microwave,
    #fridge {
        display: none;
    }
    #sound {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #aircon2,
    #aircon,
    #air,
    #alarm,
    #alarm2,
    #heat,
    #humi,
    #microwave,
    #sound, {
        display: none;
    }
    #fridge {
        display: block;
    }
}

#none{display: none;}